<%= game_state(@tally.game_state) %>

<div class="gameFieldWrapper">
    <div>
        <%= render("_gallows.html", left: @tally.turns_left) %>
    </div>
    <div>
        <%= render("_status.html", tally: @tally, conn: @conn) %>
    </div>
</div>
